@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #fff;
}

.container {

    box-sizing: border-box;

    max-width: 1170px;
    margin: auto;

    padding: 0 15px;
}

a {
    color: #fff;
    text-decoration: none;
}




ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {}


.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;

    transition: opacity 0.3s;
}

.header__nav a:hover {
    opacity: 1;
}

.header__nav a.active {
    opacity: 0.9;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    width: 165px;
    height: 50px;

    border-radius: 5px;
    background: chocolate;

    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

.btn--small {
    width: 140px;
    height: 40px;
    font-style: 12px;

    margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

.welcome {
    box-sizing: border-box;
    min-height: 100vh;


    margin-top: -100px;
    padding: 240px 0;

    background-image: url("./images/welcome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__subtittle {
    margin-bottom: 7px;

    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome__tittle {
    font-size: 58px;
}

.welcome__desc {
    margin: 40px 0;

    font-size: 18px;
    opacity: 0.7;
}

.welcome__text {
    width: 550px;
}

.food-list {
    padding: 100px 0;
}


.food-list__card {
    width: 260px;

    overflow: hidden;
    text-align: center;

    background: #312F30;
    border-radius: 10px;
}

.food-list__img {
    max-width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__tittle {
    font-size: 20px;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}

.food-list__text-wrapper {
    padding: 20px 30px;
}


.order {
    background: #312F30;
    padding: 60px 0;


}

.order__tittle {
    margin-bottom: 25px;
    font-size: 44px;
}

.order__text {
    max-width: 370px;

    padding-right: 90px;
}

.order__img {
    max-width: 470px;
}

.order__desc {
    margin-bottom: 15px;
    font-size: 16px;
    opacity: 0.7;
}

.order__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: chocolate;
}

.order__old-price {
    font-weight: 500;
    color: chocolate;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    opacity: 0.5;
}

.order .btn {
    margin-top: 10px;
}

.order .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    padding: 150px 0;
}


.product__card {
    box-sizing: border-box;
    width: 555px;
    height: 300px;

    padding: 60px 30px 60px 290px;
}

.product__card:nth-child(even) {
    padding: 60px 290px 60px 30px;
}

.product__tittle {
    font-size: 30px;
}

.product__desc {
    margin-top: 20px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.product__price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: chocolate;
}

.product__old-price {
    text-decoration: line-through;
    opacity: 0.5;
    color: chocolate;
}

.card-queen {
    background-image: url(./images/pro1.jpg);
}

.card-hut {
    background-image: url(./images/pro2.jpg);
}

.card-king {
    background-image: url(./images/pro3.jpg);
}

.card-papa {
    background-image: url(./images/pro4.jpg);
}